[user]
	name = nriitala
	email = nri@iki.fi
[color]
	ui = true
[core]
	excludesfile = /home/niko/.gitignore
	filemode = false
	bare = false
	logallrefupdates = true
[merge]
	tool = diffconflicts
[mergetool "diffconflicts"]
	cmd = diffconflicts vim $BASE $LOCAL $REMOTE $MERGED
	trustExitCode = true
	keepBackup = false
#[push]
#	default = simple
[github]
	user = nriitala
[push]
	default = current
