[user]
	name = nriitala
	email = nri@iki.fi
[color]
	ui = true
[core]
	excludesfile = /home/niko/.gitignore
	filemode = false
	bare = false
	logallrefupdates = true
[merge]
	tool = diffconflicts
[mergetool "diffconflicts"]
	cmd = diffconflicts vim $BASE $LOCAL $REMOTE $MERGED
	trustExitCode = true
	keepBackup = false
#[push]
#	default = simple
[github]
	user = nriitala
[push]
	default = current
[alias]
  co = checkout
  undo = reset --soft HEAD^
  amend = commit --amend -C HEAD
  standup = !clear && git log --since '1 day ago' --no-merges --pretty=format':%C(yellow)%h %aN%n %B%n' --author $(git config --global --get user.email)
  mergetest = "!f(){ git merge --no-commit --no-ff \"$1\"; git merge --abort; echo \"Merge aborted\"; };f "
  whathaveidone = !git shortlog --author="$(git config --get user.name)" --after=`date -dlast-monday +%Y-%m-%d`
[log]
  date = iso
